In [102]:
p2_mia = [8, 11, 4, 11, 8, 8, 9, 9, 6, 8, 9, 6, 5, 8, 9, 2, 7, 4, 8, 6, 4, 5, 5, 5, 11, 8, 3, 5, 10, 6, 6, 6]
p2_tihomir = [9, 7, 7, 5, 8, 5, 9, 8, 6, 7, 6, 6, 7, 7, 7, 9, 6, 4, 5, 11, 7, 6, 6, 11, 5, 6, 6, 9, 4, 8, 11]
p2_wheat = [6, 8, 9, 10]
p2_wool = [3, 4, 8, 11]
p2_wood = [2, 5, 5, 9]
p2_clay = [10, 11, 12]
p2_stone = [3, 4, 6]

In [111]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

df=pd.DataFrame([p2_tihomir,p2_mia],index=['tiho','mia'])
df = df.transpose()

list = p2_mia+p2_tihomir
ind = ['mia'] * 32 + ['tihomir'] * 32

print(list)
print(ind)

df=pd.DataFrame([list,ind,64*[1]],index=['bacanje','osoba','brojac' ])
print(df)
df=df.T

[8, 11, 4, 11, 8, 8, 9, 9, 6, 8, 9, 6, 5, 8, 9, 2, 7, 4, 8, 6, 4, 5, 5, 5, 11, 8, 3, 5, 10, 6, 6, 6, 9, 7, 7, 5, 8, 5, 9, 8, 6, 7, 6, 6, 7, 7, 7, 9, 6, 4, 5, 11, 7, 6, 6, 11, 5, 6, 6, 9, 4, 8, 11]
['mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'mia', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir', 'tihomir']
          0    1    2    3    4    5    6    7    8    9    ...          54  \
bacanje    8   11    4   11    8    8    9    9    6    8   ...           6
osoba    mia  mia  mia  mia  mia  mia  mia  mia  mia  mia   ...     tihomir
brojac     1    1    1    1    1    1    1    1    1    1   ...           1

              55       56       57       58       59       60       61  \
bacanje       11        5        6        6        9        4        8
osoba    tihomir  tihomir  tihomir  tihomir  tihomir  tihomir  tihomir
brojac         1        1        1        1        1        1        1

              62       63
bacanje       11     None
osoba    tihomir  tihomir
brojac         1        1

[3 rows x 64 columns]

In [112]:
df

   bacanje    osoba brojac
0        8      mia      1
1       11      mia      1
2        4      mia      1
3       11      mia      1
4        8      mia      1
5        8      mia      1
6        9      mia      1
7        9      mia      1
8        6      mia      1
9        8      mia      1
10       9      mia      1
11       6      mia      1
12       5      mia      1
13       8      mia      1
14       9      mia      1
15       2      mia      1
16       7      mia      1
17       4      mia      1
18       8      mia      1
19       6      mia      1
20       4      mia      1
21       5      mia      1
22       5      mia      1
23       5      mia      1
24      11      mia      1
25       8      mia      1
26       3      mia      1
27       5      mia      1
28      10      mia      1
29       6      mia      1
..     ...      ...    ...
34       7  tihomir      1
35       5  tihomir      1
36       8  tihomir      1
37       5  tihomir      1
38       9  tihomir      1
39       8  tihomir      1
40       6  tihomir      1
41       7  tihomir      1
42       6  tihomir      1
43       6  tihomir      1
44       7  tihomir      1
45       7  tihomir      1
46       7  tihomir      1
47       9  tihomir      1
48       6  tihomir      1
49       4  tihomir      1
50       5  tihomir      1
51      11  tihomir      1
52       7  tihomir      1
53       6  tihomir      1
54       6  tihomir      1
55      11  tihomir      1
56       5  tihomir      1
57       6  tihomir      1
58       6  tihomir      1
59       9  tihomir      1
60       4  tihomir      1
61       8  tihomir      1
62      11  tihomir      1
63    None  tihomir      1

[64 rows x 3 columns]

In [124]:
pt = pd.pivot_table(df,columns='bacanje',index='osoba',values = 'brojac',aggfunc = np.sum)
pt=DataFrame(pt)
pt

bacanje   2    3    4    5    6    7    8    9    10   11
osoba
mia      1.0  1.0  3.0  5.0  6.0  1.0  7.0  4.0  1.0  3.0
tihomir  NaN  NaN  2.0  4.0  8.0  7.0  3.0  4.0  NaN  3.0

In [125]:
pt = pt.fillna(0) 
pt

bacanje   2    3    4    5    6    7    8    9    10   11
osoba
mia      1.0  1.0  3.0  5.0  6.0  1.0  7.0  4.0  1.0  3.0
tihomir  0.0  0.0  2.0  4.0  8.0  7.0  3.0  4.0  0.0  3.0

In [131]:
print(p2_wheat)
pt[p2_wheat]

[6, 8, 9, 10]

bacanje   6    8    9    10
osoba
mia      6.0  7.0  4.0  1.0
tihomir  8.0  3.0  4.0  0.0

In [132]:
pt[p2_wheat].apply(sum,1)

osoba
mia        18.0
tihomir    15.0
dtype: float64